.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: 3em;
    overflow: hidden;



    .card__header {
        padding: 0.8rem var(--bs-card-cap-padding-x);
        margin-bottom: 0;
        color: var(--bs-card-cap-color);
        background-color: var(--bs-card-cap-bg);
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    }

    .card__footer:last-child {
        border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
    }

    .card__footer {
        padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
        border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;



        .links__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            text-decoration: none;
            color: black;
            font-weight: 450;

            .link {
                text-decoration: none;
                color: black;
                font-weight: 400;
            }
        }
    }

    .card__form {
        display: flex;
        gap: 1.5em;
        flex-direction: column;
        border-radius: 10em;
        align-items: center;


        .form__control {
            border-radius: 10em;
            height: 2.6em;
        }

        .card__form__button {
            width: 33%;
            border-radius: 12rem;
            margin-bottom: 0.5rem;
            background-color: #225ca21a;
            border: none;
            color: black;
        }


    }



}