

.subnavbar{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 10rem;
    flex-direction: row;


    .links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links_link{
        margin-left:3rem ;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
}

.navbar-expand {
     flex-wrap: wrap; 
     justify-content: flex-start; 
}

.supergraphic {
    background-image: url('../../image/boschGradient.svg');
    background-repeat: no-repeat;
    height: 0.5rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


.logo {
    background-image: url('../../image/logo.svg');
    background-repeat: no-repeat;
    height: 4rem;
    width: 15%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


